.cuerpo{
	background-color: #4FC3F7;/*color de fondo*/
}

.titulo{
	text-align: center;
	font-family: verdana;
	color: #1E88E5;/*color letra del título*/
}

.caja {
	width: 70%;
	margin: 0 auto;
	background: #E1F5FE; /*color de tabla*/
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 11px 21px 0px rgba(0,0,0,1);
}

.caja-tabla{
	width: 50%;
	margin: 0 auto !important;
  float: none !important;
}

.table-responsive{
	width: 50%;
	margin: 0 auto !important;
	float: none !important;
}
.boton{
	text-align: left;
	width: 15%;
	margin: 0 auto !important;
  	float: none !important;
}
