<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebUniversidad</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CrearCurso</display-name>
    <servlet-name>CrearCurso</servlet-name>
    <servlet-class>servlet.CrearCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCurso</servlet-name>
    <url-pattern>/CrearCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Crear</display-name>
    <servlet-name>Crear</servlet-name>
    <servlet-class>servlet.Crear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Crear</servlet-name>
    <url-pattern>/Crear</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MorososMensualidad</display-name>
    <servlet-name>MorososMensualidad</servlet-name>
    <servlet-class>servlet.MorososMensualidad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MorososMensualidad</servlet-name>
    <url-pattern>/MorososMensualidad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AsignarProfesor</display-name>
    <servlet-name>AsignarProfesor</servlet-name>
    <servlet-class>servlet.AsignarProfesor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsignarProfesor</servlet-name>
    <url-pattern>/AsignarProfesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarMensualidad</display-name>
    <servlet-name>RegistrarMensualidad</servlet-name>
    <servlet-class>servlet.RegistrarMensualidad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarMensualidad</servlet-name>
    <url-pattern>/RegistrarMensualidad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarMatricula</display-name>
    <servlet-name>RegistrarMatricula</servlet-name>
    <servlet-class>servlet.RegistrarMatricula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarMatricula</servlet-name>
    <url-pattern>/RegistrarMatricula</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarPromedio</display-name>
    <servlet-name>RegistrarPromedio</servlet-name>
    <servlet-class>servlet.RegistrarPromedio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarPromedio</servlet-name>
    <url-pattern>/RegistrarPromedio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarAsistencia</display-name>
    <servlet-name>RegistrarAsistencia</servlet-name>
    <servlet-class>servlet.RegistrarAsistencia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarAsistencia</servlet-name>
    <url-pattern>/RegistrarAsistencia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerSituacion</display-name>
    <servlet-name>VerSituacion</servlet-name>
    <servlet-class>servlet.VerSituacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerSituacion</servlet-name>
    <url-pattern>/VerSituacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DesactivarCurso</display-name>
    <servlet-name>DesactivarCurso</servlet-name>
    <servlet-class>servlet.DesactivarCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DesactivarCurso</servlet-name>
    <url-pattern>/DesactivarCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagarSueldo</display-name>
    <servlet-name>PagarSueldo</servlet-name>
    <servlet-class>servlet.PagarSueldo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagarSueldo</servlet-name>
    <url-pattern>/PagarSueldo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteProf</display-name>
    <servlet-name>ReporteProf</servlet-name>
    <servlet-class>servlet.ReporteProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteProf</servlet-name>
    <url-pattern>/ReporteProf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscribirEst</display-name>
    <servlet-name>InscribirEst</servlet-name>
    <servlet-class>servlet.InscribirEst</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscribirEst</servlet-name>
    <url-pattern>/InscribirEst</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarCur</display-name>
    <servlet-name>BuscarCur</servlet-name>
    <servlet-class>servlet.BuscarCur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarCur</servlet-name>
    <url-pattern>/BuscarCur</url-pattern>
  </servlet-mapping>
</web-app>